body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    background-image: url('https://source.unsplash.com/1920x1080/?landscape');
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 110%;
}

.card {
    padding: 2.5em;
    width: 100%;
    max-width: 400px;
    margin: 2em;
    color: white;
    font-weight: bold;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);

}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.searchbar {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(17, 25, 40, 0.2);
    color: white;
    font-family: inherit;
    width: 90%;
    
}

input.searchbar:focus {
    background-color: rgba(17, 25, 40, 0.6);
}

::placeholder {
    color: white;
}

button {
    padding: 8px;
    margin: .6em;
    border-radius: 60%;
    border: none;
    background-color: rgba(17, 25, 40, 0.2);
}

button img {
    transition: transform .2s;
}

button img:hover {
    transform: scale(1.25);
}

button:hover {
    background-color: rgba(17, 25, 40, .4);
}

.weather {
    font-weight: normal;
    padding: 10px;
}

#uv-number {
    background-color: green;
    border-radius: 8px;
    width: 15%;
    text-align: center;

}