body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-image: url('https://source.unsplash.com/2560x1440/?weather');
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 110%;
    margin: 10px;
}

.main-weather {
    padding: 1.6em;
    width: 100%;
    max-width: 600px;
    margin-top: 0px;
    color: white;
    font-weight: bold;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.forecast {
    display: flex;
    justify-content: left;
    padding: 1em;
    height: 40vh;
    width: 100%;
    max-width: 400px;
    margin-top: 0px;
    color: white;
    font-weight: bold;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

#main-search {
    padding: 1em;
    height: 95vh;

}

.forecast-deck {
    display: flex;
    margin-left: 10px;
    height: 400px;
}

.forecast-date {
    margin-top: -50px;
    margin-bottom: 125px;
    margin-left: 30px;
    font-size: 21px;
    color: white;
    
}

.forecast-icons {
    display: flex;
    justify-items: flex-start;
    height: 8vh;
    margin-top: -60px;
    margin-bottom: 50px;
    margin-left: 28px;
}

.forecast-info {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: -25px;
    color: white;
}

.forecast-card {
    padding: 4.5em;
    margin-left: -30px;
}

.searchbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.searchbar {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(17, 25, 40, 0.2);
    color: white;
    font-family: inherit;
    width: 90%;
    
}

input.searchbar:focus {
    background-color: rgba(17, 25, 40, 0.6);
}

::placeholder {
    color: white;
    font-size: 16px;
}

button {
    padding: 8px;
    margin: .6em;
    border-radius: 60%;
    border: wheat;
    background-color: rgba(17, 25, 40, 0.1);
}

button img {
    transition: transform .2s;
}

button img:hover {
    transform: scale(1.3);
}

button:hover {
    background-color: rgb(228, 209, 209);
}

.weather {
    font-weight: normal;
    padding: 10px;
    margin-left: 100px;
}

.city {
    margin-left: -35px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#currentDay {
    color: blanchedalmond;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 15px;
}

.temp {
    font-size: 36px;
    display: flex;
    margin-left: 15px;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: blanchedalmond;
    text-transform: capitalize;
    margin-bottom: 20px;

}

.wind {
    margin-bottom: 5px;
}

.humidity {
    margin-bottom: 5px;
}

.main-info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 5px;
}

#uv-number {
    background-color: green;
    border-radius: 8px;
    width: 15%;
    text-align: center;

}

.favorable {
    background-color: green;
    border-radius: 8px;
    width: 15%;
    text-align: center;
}

.moderate {
    color: blue;
    background-color: rgb(225, 228, 35);
    border-radius: 8px;
    width: 15%;
    text-align: center;
}

.severe {
    background-color: rgb(255, 49, 49);
    border-radius: 8px;
    width: 15%;
    text-align: center;
}

.recent {
    margin-right: -20px;
}

.recent-search {
    display: flex;
    justify-content: center;
    margin-right: -50px;
    padding-top: 60px;
}

.list-group {
    list-style: none;
    padding: 50px;
}

.list-group-item {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    background:none;
    border: none;
}

.list-group li {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 12px;
    margin-left: -325px;
    background-color: rgba(17, 25, 40, 0.50);
}

.list-group li:hover {
    color: wheat;
}
