body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-image: url('https://source.unsplash.com/2560x1440/?weather');
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 110%;
}

.card {
    padding: 1.6em;
    width: 100%;
    max-width: 600px;
    margin-top: 0px;
    color: white;
    font-weight: bold;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.forecast {
    display: flex;
    justify-content: left;
    padding: 1em;
    height: 35vh;
    width: 100%;
    max-width: 600px;
    margin-top: 0px;
    color: white;
    font-weight: bold;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

#main-card {
    padding: 1em;
    height: 95vh;

}

.card-deck {
    display: flex;
    margin-left: 45px;
    height: 400px;
}

.card-title {
    margin-top: -50px;
    margin-bottom: 125px;
    margin-left: 30px;
    font-size: large;
    
}

.card-body {
    padding: 4.5em;
    margin-left: -30px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.searchbar {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(17, 25, 40, 0.2);
    color: white;
    font-family: inherit;
    width: 90%;
    
}

input.searchbar:focus {
    background-color: rgba(17, 25, 40, 0.6);
}

::placeholder {
    color: white;
    font-size: 16px;
}

button {
    padding: 8px;
    margin: .6em;
    border-radius: 60%;
    border: none;
    background-color: rgba(17, 25, 40, 0.2);
}

button img {
    transition: transform .2s;
}

button img:hover {
    transform: scale(1.25);
}

button:hover {
    background-color: rgba(17, 25, 40, .4);
}

.weather {
    font-weight: normal;
    padding: 10px;
    margin-left: 125px;
}

#currentDay {
    color: blanchedalmond;
    font-size: large;
    margin-top: 40px;
    margin-bottom: 40px;
}

.temp {
    font-size: 32px;
    display: flex;
    margin-left: 15px;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    align-items: center;
    font-size: 22px;
    color: blanchedalmond;
    text-transform: capitalize;
    margin-bottom: 20px;

}

.info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 5px;
}

#uv-number {
    background-color: green;
    border-radius: 8px;
    width: 15%;
    text-align: center;

}

.recent-search {
    display: flex;
    justify-content: center;
    margin-right: 45px;
    padding-top: 60px;
}

